.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;

    .topComponent{
        height: 50vh;
        width: 100vw;
        color: red;
        position: relative;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .titles{
            position: relative;
            display: flex;
            align-items: center;
            width: 100vw;
            height: 100px;
            z-index: 10;
            overflow: hidden;

            .title{
                position: absolute;
                display: flex;
                margin: auto;
                left: 10px;
                
                h4{
                    color: tomato;
                    font-size: 30px;
                    font-weight: 800;

                }
            }
            .links{
                position: absolute;
                right: 0%;
                display: flex;
                width: 20%;
                margin: auto;

                li{
                    margin: 20px;
                    list-style: none;

                    img{
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }
    .pageLinks{
        position: absolute;
        margin-top: 11%;
        ul{
            display: flex;

            li{
                list-style: none;
                position: relative;
                margin-left: 20px;
                color: black;
                font-weight: 600;
                font-size: 20px;
                width: 100px;
                height: 40px;
                background-color: #fff;
                text-align: center;
                padding-top: 10px;
                border-radius: 5px;
                transition: 0.5s;

                &:hover{
                    background-color: tomato;
                    transform: scale(1.1);
                    color: white;
                }
            }
        }
    }
    .shoeSorts{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 55%;
        
        h1{
            text-align: center;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            max-width: 90vw;
        }

    }

}