<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./index.js" defer></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="itemContainer">
        <div class="image">Img Src</div>
        <div class="name">Name</div>
        <div class="qty">Quantity</div>
        <div class="price">Ksh. 100/=</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure itaque fugiat praesentium voluptatibus consequatur error temporibus, voluptatem a consectetur.</div>
        <div class="cat">Category</div>
        <button class="btnEdit">Edit</button>
        <button class="btnDelete">Delete</button>
    </div>
    <div class="itemContainer">
        <div class="image">Img source 2</div>
        <div class="name">Name</div>
        <div class="qty">Quantity</div>
        <div class="price">Ksh. 100/=</div>
        <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis iure itaque fugiat praesentium voluptatibus consequatur error temporibus, voluptatem a consectetur.</div>
        <div class="cat">Category</div>
        <button class="btnEdit">Edit</button>
        <button class="btnDelete">Delete</button>
    </div> 
    <div class="editContainer">
        <input type="text"  class="namep" placeholder="name">
        <input type="number" class="qtyp" placeholder="quantity">
        <input type="number" class="pricep" placeholder="price">
        <input type="text" class="descp" placeholder="description">
        <input type="text" class="catp" placeholder="category">
        <button class="saveBtn">Publish</button>
    </div>
</body>
</html>